@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ChiKareGo2";
  src: url("../assets/ChiKareGo2.ttf") format("truetype");
}

* {
  font-family: "ChiKareGo2", sans-serif;
}

/* Increase base font size */
html {
  font-size: 18px;
}

.hide-on-short {
  display: block;
}

@media screen and (max-height: 680px) {
  .hide-on-short {
    display: none;
  }
}

.image-pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.bevel-border {
  border-top: 2px solid #4c4c4c;
  border-left: 2px solid #4c4c4c;
  border-right: 2px solid #939393;
  border-bottom: 2px solid #939393;
}

.bevel-border-reverse {
  border-top: 2px solid #c6c6c6;
  border-left: 2px solid #c6c6c6;
  border-right: 3px solid #292929;
  border-bottom: 3px solid #292929;
}
.bevel-pressed {
  border-top: 1px solid #c6c6c6;
  border-left: 1px solid #c6c6c6;
  border-right: 1px solid #292929;
  border-bottom: 1px solid #292929;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.dialog-box {
  position: relative;
  background: white;
  box-shadow:
    0 0 0 1px black,
    /* innermost black */ 0 0 0 2px #9292c5,
    /* inner gray */ 0 0 0 3px #dbdbdc,
    /* middle purple */ 0 0 0 4px #9292c5,
    /* outer gray */ 0 0 0 5px black; /* outermost black */
  min-width: 300px;
  max-width: 80%;
}

.dialog-title-bar {
  background: #000;
  color: white;
  padding: 2px 8px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 0 4px;
}

.dialog-content {
  padding: 16px;
  background: #bcbcbc;
  margin: 1px;
}

.dialog-message {
  margin: 0;
}

.dialog-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 8px;
  background: #d1d1d1;
}

.dialog-button {
  min-width: 70px;
  padding: 2px 12px;
  background: #bcbcbc;
  border: 1px solid #000;
  border-radius: 2px;
  cursor: pointer;
}

.dialog-button:active {
  background: #a1a1a1;
}

/* Transition animations */
.dialog-fade-enter-active,
.dialog-fade-leave-active {
  transition: opacity 0.2s;
}

.dialog-fade-enter-from,
.dialog-fade-leave-to {
  opacity: 0;
}

.normal-line-height,
.normal-line-height * {
  line-height: 1;
}

/* Add these rules to prevent scrolling */
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}
