@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ChiKareGo2";
  src: url("../assets/ChiKareGo2.ttf") format("truetype");
}

* {
  font-family: "ChiKareGo2", sans-serif;
}

/* Increase base font size */
html {
  font-size: 16px;
}

.hide-on-short {
  display: block;
}

@media screen and (max-height: 680px) {
  .hide-on-short {
    display: none;
  }
}
